// VARIABLES AND MAP-LISTS

//
$breakpoints: (
  mobile: 375px,
  desktop: 1440px,
);

// Colors
$color-very-dark-blue: hsl(233, 47%, 7%);
$color-dark-desaturated-blue: hsl(244, 38%, 16%);
$color-soft-violet: hsl(277, 64%, 61%);
$color-white: hsl(0, 0%, 100%);

$colors: (
  primary: $color-very-dark-blue,
  secondary: $color-dark-desaturated-blue,
  accent: $color-soft-violet,
  neutral: $color-white,
);

// Typography
$text-base-size: 15px;

$typeface-inter: "Inter", sans-serif;
$typeface-lexend-deca: "Lexend Deca", sans-serif;

$typefaces: (
  inter: $typeface-inter,
  lexend-deca: $typeface-lexend-deca,
);

$font-weights: (
  regular: 400,
  bold: 700,
);
