// FUNCTIONS AND MIXINS

// media queries
@mixin media($break) {
  /// a media query for a given breakpoint.
  $breakpoint: map-get(
    $map: $breakpoints,
    $key: $break,
  );

  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
