// FUNCTIONS AND MIXINS

// media queries
@mixin media($device) {
  /// a media query for a given breakpoint.
  $width: map-get(
    $map: $breakpoints,
    $key: $device,
  );

  @media screen and (min-width: $width) {
    @content;
  }
}

// Set color
@function set-color($theme) {
  /// Set color of your text, backgrounds.
  @return map-get($map: $colors, $key: $theme);
}

// strighly transparentize a color
@function transparentize-color($theme, $amount) {
  /// add strighly transparent to a color
  $color: set-color($theme);

  @return transparentize($color, $amount);
}

// Set font family
@function set-typeface($family) {
  /// Set font family
  $typeface: map-get(
    $map: $typefaces,
    $key: $family,
  );
  @return $typeface;
}

// Set font weight
@function set-weight($value) {
  /// Set font weight
  $weight: map-get(
    $map: $font-weights,
    $key: $value,
  );

  @return $weight;
}
