@import "./globals";
@import "./utilities";
@import "./reset";

html {
  font-size: $text-base-size;
}

body {
  font-size: 100%;
  font-family: set-typeface(inter);
  font-weight: set-weight(regular);
  line-height: 1.5;
  background-color: set-color(primary);
  color: transparentize-color(neutral, 0.25);
  padding: 8rem 0;
}

.card {
  border-radius: 10px;
  text-align: center;
  overflow: hidden;

  @include media(desktop) {
    & {
      text-align: left;
    }

    &.grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__image {
    background-color: set-color(accent);
    background-image: url(../images/image-header-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    max-width: 768px;
    height: 400px;

    @include media(desktop) {
      & {
        background-image: url(../images/image-header-desktop.jpg);
        order: 1;
        margin-bottom: 0;
        height: auto;
      }
    }
  }

  &__block {
    background-color: set-color(secondary);
    padding: 3rem 2.5rem;
    display: flex;
    flex-direction: column;

    @include media(desktop) {
      & {
        gap: 5rem;
        padding: 8rem 5rem;
      }
    }
  }

  &__text {
    margin-bottom: 3rem;
  }

  &__title {
    font-size: 2.3rem;
    line-height: 1.2;
    font-weight: set-weight(bold);
    color: set-color(neutral);
    margin-bottom: 1.5rem;

    @include media(desktop) {
      & {
        margin-bottom: 2rem;
        font-size: 2.8rem;
      }
    }
  }

  &__paragraph {
    font-size: 1.2rem;

    @include media(desktop) {
      & {
        font-size: 1.4rem;
      }
    }
  }
}

.stats {
  @include media(desktop) {
    &.grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .stat {
    margin-bottom: 1.5rem;

    @include media(desktop) {
      & {
        margin-bottom: 0;
      }
    }

    &__counts {
      font-weight: set-weight(bold);
      color: set-color(neutral);
      font-size: 1.5rem;

      @include media(desktop) {
        & {
          font-size: 2rem;
        }
      }
    }

    &__title {
      text-transform: uppercase;
      font-size: 0.8rem;
      font-family: set-typeface(lexend-deca);
      color: transparentize-color(neutral, 0.4);

      @include media(desktop) {
        & {
          font-size: 1rem;
        }
      }
    }
  }
}

.highlighted {
  color: set-color(accent);
}

.container {
  $break: map-get(
    $map: $breakpoints,
    $key: mobile,
  );
  width: 80%;
  min-width: $break;
  margin: 0 auto;

  @include media(desktop) {
    & {
      width: 80%;
    }
  }
}

.flex {
  display: flex;
  height: 960px;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}
