@import "./globals";
@import "./utilities";
@import "./reset";

html {
  font-size: $text-base-size;
}

body {
  font-size: 100%;
  font-family: set-typeface(inter);
  font-weight: set-weight(regular);
  line-height: 1.5;
}

.card {
  &__title {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: set-weight(bold);
  }
}

.stats {
  .stat {
    font-size: 1.2rem;

    &__counts {
      font-weight: set-weight(bold);
    }

    &__title {
      text-transform: uppercase;
      font-size: 0.8rem;
      font-family: set-typeface(lexend-deca);
    }
  }
}
